
body {
    background-color:#9D7CFF;
}

    .container {
    background-color: #ffffff;
    margin-top: 80px;
    display: inline-block;
    border: 3px solid black;
    box-sizing: border-box;
    position: relative;
    width: 600px;
    margin-left: calc((100% - 600px) / 2);
        }
        .top {
            background-color:#ffffff;
            display: inline-block;
            width: 100%;
            height: 70px;
            border-bottom: 2px solid #E4E5E6;
            float: left;
        }
            .top> .close {
                display: inline-block;
                float: left;
                width: 30px;
                line-height: 30px;
                text-align: center;
                font-size: 30px;
                position: absolute;
                top: 2px;
                left: 2px;
                color: #ffffff;
                background-color: #B2B3B4;
                cursor: pointer;
                border-radius: 20px;
                }
            
            .top> img {
                
                width: 20vh;
                margin-top: 5px;
                margin-left: 35%;
                margin-right: 35%;
                align-content: center;
            }

            .top> .left {
                display: inline-block;
                float: right;
                width: 30px;
                height: 30px;
                line-height: 30px;
                text-align: center;
                font-size: 30px;
                position: absolute;
                top: 0;
                left: 80%;
                color: #ffffff;
                background-color: #B2B3B4;
                cursor: pointer;
                border-radius: 20px;
                margin-top: 2px;
            }
           .top> .right {
                display: inline-block;
                float: right;
                width: 30px;
                line-height: 30px;
                text-align: center;
                font-size: 30px;
                position: absolute;
                top: 0;
                left: 90%;
                color: #ffffff;
                background-color: #B2B3B4;
                cursor: pointer;
                border-radius: 20px;
                margin-top: 2px;
            }
        main {
            display: inline-block;
            float: left;
            background-color: #ffffff;
            width: 100%;
        }
            form {
                display: inline-block;
                float: left;
                width: 90%;
                margin-top: 20px;
                margin-left: calc((100% - 90%)/2);
                margin-right: calc((100% - 90%)/2);
            }
                form >.form-row {
                    display: inline-block;
                    float: left;
                    width: 100%;
                    margin-bottom: 20px;
                    text-align: center;
                    font-family: spotify;
                }
                    form > .form-row > .socialfirst{
                        position: relative;
                    }

                    form > .form-row > .socialfirst > .facebook {
                    
                        display: inline-block;
                        height: 25px;
                        width: 100%;
                        border-radius: 20px;
                        border: 0;
                        outline: none;
                        text-transform: uppercase;
                        margin: 5px 0;
                        color: #ffffff;
                        background-color: #3B5998;

                    }
                        form > .form-row > .socialfirst > .fa {
                            padding: 4px;
                            font-size: 13px;
                            width: 20px;
                            text-align: center;
                            text-decoration: none;
                            margin: 5px 2px;
                            position: absolute;
                            top: 0;
                            left: 5%;
                            
                        }
                        
                        .fa-facebook {
                            background: #3B5998;
                            color: white;
                            position: absolute;
                            top: 0;
                            left: 5%;
                        }
                    form > .form-row > .socialfirst >.apple {
                      
                        display: inline-block;
                        height: 25px;
                        width: 100%;
                        border-radius: 20px;
                        border: 0;
                        outline: none;
                        text-transform: uppercase;
                        margin: 5px 0;
                        color: #ffffff;
                        background-color: black;
                       
                    }
                        .fa-apple {
                            background: black;
                            color: white;
                            position: absolute;
                            top: 0;
                            left: 5%;
                        }
                    form > .form-row > .phone {
                        
                        display: inline-block;
                        height: 25px;
                        width: 100%;
                        border-radius: 20px;
                        border: 1px solid #626880;
                        outline: none;
                        text-transform: uppercase;
                        margin: 5px 0;
                        color: black;
                        background-color: #ffffff;
                     
                    }
                    .line-a {
                        position: relative;
                        border-top: 2px solid #E1E2E4;
                        margin: 15px 0;
                    }
                    .line-a > p {
                        position: absolute;
                        font-size: 14px;
                        top: -10px;
                        width: 50px;
                        background-color: #fff;
                        left: calc((100% - 50px) / 2);
                    }
                    form > .form-row > input {
                        width: 100%;
                        height: 35px;
                        margin-top: 6px;
                    }
                
                    form > .form-row > .login {
                        display: inline;
                        width: 50%;
                        float: right;
                        text-align: center;
                        text-transform: uppercase;
                        color: #ffffff;
                        background-color: #1DB954;
                        font-size: 13px;
                        margin-bottom:5px;
                        line-height: 30px;
                        cursor: pointer;
                        border-radius: 25px;
                        word-spacing: 3px; 

                    }
                    form > .form-row > .remember {
                        display: inline;
                        width: 50%;
                        float: left;
                        text-align: left;
                        font-size: 12px;
                        color:#1DB954;
                    }
                   
                    form > .form-row > .forgot {
                        width: 100%;
                        font-size: smaller;
                        color: #1DB954;
                        margin-bottom: 20px;
                    }
                    form > .form-row > .account {
                        width: 100%;
                        font-size: small;
                        font-weight: bold;
                        color: black;
                        text-transform: capitalize;
                        cursor: pointer;
                    }
                    form > .form-row > .singup {
                        width: 100%;
                        text-align: center;
                        text-transform: uppercase;
                        color: black;
                        background-color: #ffffff;
                        font-size: 13px;
                        margin-bottom:5px;
                        line-height: 30px;
                        cursor: pointer;
                        border-radius: 25px;
                        border: 2px solid #B2B3B5;
                        word-spacing: 3px; 
                    }
                    form > .form-row > hr {
                        margin-top: 20px;
                        margin-bottom: 20px;
                    }

@media (max-width: 600px) {
    .container {
        width: 100%;
        margin-left: 0;
        margin-top: 6vw;
       
    }
}
@media (max-width: 480px) {
    .container {
        width: 100%;
        margin:0 0 0 0;
        PADDING-LEFT: 20PX;
        PADDING-RIGHT: 20PX;
       
    }
    form {
        width: 90%;
        margin: 15px 5% 20px 5%;
    }
  
@media (max-width: 320px) {
    .container {
        
        width: 100%;
        margin-left: 0;
        margin-top: 0;
        PADDING-LEFT: 40PX;
        PADDING-RIGHT: 40PX;
        
    }

}
